.make_yours {
  background-image: url(../resources/bg_make_yours.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-bottom: 150px;
}

.make_yours__text {
  width: 680px;
  margin: 0 auto;
  text-align: center;
  padding: 190px 0 ;
}

.make_yours h2 {


  color: #ff25c2;

  margin-bottom: 39px;
}

.make_yours p {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.03em;

  margin-bottom: 39px;
  color: white;
}
.make_yours p:last-child{
  margin-bottom: 0;
}

@media (max-width: 767px){
  .make_yours{
    background-position: 75%;
    margin-bottom: 100px;
  }
  .make_yours__text{
    padding: 100px 0;
    width: 100%;
  }
  .make_yours h2{
    width: 100%;
    margin-bottom: 50px;
    word-break: break-all;
  }
  .make_yours p{
    font-size: 16px;
    line-height: 19px;
    word-break: break-all;
    width: 100%;
  }
  .make_yours p:first-child{
    margin-bottom: 50px;
  }
}