.sell__block {
  margin-bottom: 150px;
}

.sell__item__title {
  color: white;
  width: 375px;

  margin-bottom: 150px;
}

.sell__item__button {
  border-radius: 100px;
  padding: 40px 160px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.03em;

  border-color: white;
  border: 1px solid white;
}

.sell__item__button:hover {
  cursor: pointer;
}

.sell__item {
  height: 644px;
  padding-top: 50px;
  padding-left: 50px;
  margin-bottom: 80px;
}

.sell__item:last-child {
  margin-bottom: 0;
}

.sell__white__headphones {
  background-image: url(../resources/sell_white.webp);
  background-position: center;
  background-repeat: no-repeat;
}

.sell__black__headphones {
  background-image: url(../resources/sell_black.webp);
  background-position: center;
  background-repeat: no-repeat;
}

.sell__image {
  display: block;
  margin-bottom: 30px;
}

.sell__item__wrapper {
  display: flex;
  height: 644px;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
}

.sell__item__description {
  width: 525px;
}

.sell__item__photo {
  background-image: url(../resources/nothing_phone.webp);
  height: 100%;
  width: 570px;
  padding-left: 35px;
  padding-top: 50px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sell__item__text {
  font-size: 45px;
  line-height: 42px;
}

.sell__item__photo img {
  width: 180px;
  height: 142px;
}

@media (max-width: 1199px) {
  .sell__white__headphones {
    background-size: cover;
    border-radius: 30px;
  }
  .sell__black__headphones {
    background-size: cover;
    border-radius: 30px;
    border: 1px solid white;
    margin-bottom: 150px;
  }
  .sell__item__wrapper {
    flex-direction: column;
    height: 100%;
    row-gap: 60px;
    text-align: left;
  }
  .sell__item__photo {
    height: 644px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
  }
  .sell__item__description {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .sell__image {
    display: none;
  }
  .sell__item__text img {
    display: none;
  }
  .sell__item {
    padding-top: 43px;
    padding-left: 13px;
    padding-right: 13px;
    margin-bottom: 50px;
    height: 550px;
  }
  .sell__item__title {
    margin-bottom: 310px;
    width: 100%;
  }
  .sell__item__button {
    padding: 25px 0;
    width: 100%;
  }
  .sell__item__description{
    word-break: break-all;
  }
}
