.sell__block {
  margin-bottom: 150px;
}

.sell__item__title {
  color: white;
  width: 375px;

  margin-bottom: 150px;
}

.sell__item__button {
  border-radius: 100px;
  padding: 40px 160px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.03em;

  border-color: white;
  border: 1px solid white;
}

.sell__item__button:hover {
  cursor: pointer;
}

.sell__item {
  height: 644px;
  padding-top: 50px;
  padding-left: 50px;
  margin-bottom: 80px;
}

.sell__item:last-child{
  margin-bottom: 0;
}

.sell__white__headphones {
  background-image: url(../resources/sell_white.png);
  background-position: center;
  background-repeat: no-repeat;
}

.sell__black__headphones {
  background-image: url(../resources/sell_black.png);
}

.sell__image {
  display: block;
  margin-bottom: 30px;
}

.sell__item__wrapper{
  display: flex;
  height: 644px;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
}

.sell__item__description{
  width: 525px;
}

.sell__item__photo{
  background-image: url(../resources/nothing_phone.png);
  height: 100%;
  width: 570px;
  padding-left: 35px;
  padding-top: 50px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sell__item__text{
  font-size: 45px;
  line-height: 42px;
}

.sell__item__photo img{
  width: 180px;
  height: 142px;
}