.social_networks {
  width: 100%;
  margin: 0 auto;
  background-color: black;
  text-align: center;
  color: white;
  margin-top: 150px;
  margin-bottom: 200px;
}

.social_photo_container {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.social_networks__title {
  margin-bottom: 100px;
}

.social_photo_description {
  width: 475px;
  position: absolute;
  bottom: 90px;

  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.03em;
}

.social_networks_links {
  display: flex;
  justify-content: space-between;
}

.social_networks_links a {
  font-weight: 700;
  font-size: 60px;
  line-height: 44px;
  letter-spacing: -0.06em;
  text-decoration: none;
  color: white;
  width: 211px;
}

.social_networks_links a:last-child {
  margin-right: 0;
}

.gallery {
  position: relative;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.gallery__slides {
  position: relative;
  height: 582px;
  width: 100%;
}

.gallery__slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 1.4s ease;
}

.gallery__slide__active {
  opacity: 1;
}

.box_parrot {
  background-image: url(../resources/gallery_parrot.png);
  background-position: center;
  background-repeat: no-repeat;
}
.box_flower {
  background-image: url(../resources/gallery__flower.png);
  background-position: center;
  background-repeat: no-repeat;
}
.box_people {
  background-image: url(../resources/gallery_people.png);
  background-position: center;
  background-repeat: no-repeat;
}
.box_headphones {
  background-image: url(../resources/gallery_headphones.png);
  background-position: center;
  background-repeat: no-repeat;
}

.gallery__controls {
  position: absolute;
  bottom: 24px;
}

.gallery__controls button:hover {
  opacity: 0.5;
}

.gallery__control-prev {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.gallery__control-next {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .social_photo_container {
    background-size: cover;
    border-radius: 30px;
  }
  .social_networks {
    margin-bottom: 178px;
  }
  .social_networks_links a{
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .social_networks {
    margin-top: 100px;
    margin-bottom: 65px;
  }
  .social_networks__title {
    font-size: 45px;
    line-height: 33px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    word-break: break-all;
  }
  .social_photo_description {
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    margin: 0 auto;
  }
  .gallery__controls {
    bottom: 50%;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .social_networks_links a {
    font-size: 25px;
    line-height: 18px;
    width: 100%;
    margin-right: 0;
  }
}
