.use_technology {
  background-image: url(../resources/technology_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 130px;
}

.use_technology p {
  font-size: 45px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.06em;
  padding-top: 40px;
  margin: 0 auto;
}

.use_technology button {
  font-family: "Inter";
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: white;
  border: 1px solid white;
  border-radius: 100px;
  background-color: transparent;

  margin-top: 60px;
  padding: 40px 381px;
}

.use_technology button:hover {
  cursor: pointer;
}

@media(max-width:1199px){
  .use_technology{
    padding: 150px 0;
  }
  .use_technology p{
    padding-top: 32px;
  }
}
